<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ButtonUITests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>KIF_Sample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>KIF_SampleTests.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>KIF_SampleUITests.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>TableViewUITests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>TextFieldUITests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7EF733C71C2AA30900FB3761</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7EF733E01C2AA30900FB3761</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7EF733EB1C2AA30900FB3761</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7EF7341E1C2AA7EA00FB3761</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7EF7342D1C2AA7EF00FB3761</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7EF7343C1C2AA7F100FB3761</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7EF734511C2AAB7A00FB3761</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7EF734601C2AAB8E00FB3761</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7EF7346F1C2AAB9200FB3761</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
